/* 세션 1,2,3,4 전체 컨테이터 */
.home-container {
  height: 110vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* 세션1 의 백그라운드 세션 */
.home-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/background6.png');
  height: 103vh; /* 화면을 꽉 채우도록 설정 */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(-50vw + 49.3%);
}


/* 세션1의 백그라운드를 덮는 overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.2); /* 어두운 오버레이 */
  z-index: 1;
}

/* 세션1 전체컨테이너 바로안쪽 그리드 (3분할) */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  color: white; 
}

.first-text p {
  font-size: 25px;
}



/* 세션 2, 3, 4 전체그리드 안에 2분할한 grid 내용 */
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  position: relative;
}

/* 세션 2, 3, 4 전체그리드 안에 2분할한 grid 내용의 h1,header,header1,p 스타일링 */
.home-text h1 {
  font-weight: 900;
  color: #38393F;
}

.home-text-header {
  font-size: 25px;
  color: #38393F;
}

.home-text-header1{
  font-size: 25px;
  color: #ffffff;
}

.home-text p {
  color: #8E9097;
  font-weight: bold;
}


/* 세션 2, 3, 4 이미지 프레임 */
.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

/* 세션 2, 3, 4 이미지 */
.image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* 세션 2,3,4 밑에 회색 텍스트 */
.second-text {
  color: #8E9097;
  font-weight: bold;
  font-size: 35px;
}

/* 최상단으로 올라가는 버튼 */
.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #007bff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 최상단으로 올라가는 버튼 (커서올릴때 효과) */
.scroll-to-top-btn:hover {
  background-color: #0056b3;
  color:#ffffff;
}


/* 세션1의 왼쪽메시지 프레임 */
.message-left {
  background-color: rgba(255, 255, 255, 0.3); /* 흰색 배경에 50% 투명도 */
  color: black;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-left: 100px;
  align-self: center; /* 왼쪽 정렬 */
  width: 50%;
}

/* 세션1의 오른쪽메시지 프레임 */
.message-right {
  background-color: rgba(255, 235, 59, 0.3); /* 노란색 배경에 50% 투명도 */
  color: black;
  padding: 10px 15px 10px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  align-self: center; /* 오른쪽 정렬 */
  margin-left: 180px;
  width: 50%;
}


/* 600px 이하의 화면에 대한 반응형 */
@media (max-width: 600px) {

  .home-container {
    height: auto;
    width: 100%;
    margin-left: 0;
  }
  
  .home-section {
    height: 100vh; /* 높이를 100%로 유지 */
    padding: 10px; /* 패딩 추가 */
    background-size: cover; /* 배경 이미지가 화면을 덮도록 설정 */
    width: 100vw; /* 전체 너비 */
    margin-left: 0; /* 마진 제거 */
    background-image: url('../images/mobile.png');
  }

  .home-content {
    flex-direction: column;
    text-align: center;
    width: 100%; /* 콘텐츠 너비를 100%로 유지 */
    height: 100%; /* 콘텐츠 높이를 100%로 유지 */
  }

  .message-left, .message-right {
    display: none; /* 작은 화면에서 메시지 숨기기 */
  }

  .overlay {
    height: 100vh; /* 오버레이의 높이를 조정 */
    background-color: rgba(0, 0, 0, 0.3); /* 오버레이의 불투명도 조정 */
    display: none;
  }

  .home-text {
    padding-left: 10px; /* 더 작은 화면에서 패딩 감소 */
    text-align: center; /* 텍스트 중앙 정렬 */
  }

  .home-text-header {
    font-size: 18px; /* 더 작은 화면에서 폰트 크기 감소 */
  }

  .home-text-header1 {
    font-size: 18px; /* 더 작은 화면에서 폰트 크기 감소 */
  }

  .home-text h1 {
    font-size: 24px; /* 더 작은 화면에서 폰트 크기 감소 */
  }

  .home-text p {
    font-size: 14px; /* 더 작은 화면에서 폰트 크기 감소 */
  }

  .first-text h1{
    font-size: 24px; /* 더 작은 화면에서 폰트 크기 감소 */
  }

  .first-text p{
    font-size: 14px; /* 더 작은 화면에서 폰트 크기 감소 */
  }
}

/* 768px 이하의 화면에 대한 반응형 */
@media (max-width: 768px) {
  .home-section {
    margin-left: 0; /* 마진 제거 */
    width: 100%; /* 전체 너비 */
    height: 100%;
    background-size: cover;
    background-image: url('../images/mobile.png');
  }

  .home-container {
    height: auto;
    width: 100%;
    margin-left: 0;
  }

  .home-content {
    flex-direction: column;
    text-align: center;
  }

  .home-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding: 20px 0;
    margin-left: 0;
  }

  .message-left, .message-right {
    display: none; /* 작은 화면에서 메시지 숨기기 */
  }
  .overlay {
    height: 100%; /* 오버레이의 높이를 조정 */
    background-color: rgba(0, 0, 0, 0.3); /* 오버레이의 불투명도 조정 */
    display: none;
  }
  .home-text-header1 {
    font-size: 20px; /* 더 작은 화면에서 폰트 크기 감소 */
    padding-left: 50px;
  }
  .first-text h1{
    font-size: 35px; /* 더 작은 화면에서 폰트 크기 감소 */
  }
  
  .first-text p{
    font-size: 18px; /* 더 작은 화면에서 폰트 크기 감소 */
  }

}

/* 960px 이하의 화면에 대한 반응형 */
@media (max-width: 960px) {
  .home-section {
    height: auto; /* 높이를 자동으로 조절 */
    padding: 20px; /* 패딩 추가 */
    background-size: cover; /* 배경 이미지가 화면을 덮도록 설정 */
  }

  .message-left, .message-right {
    width: 80%; /* 메시지의 너비를 줄임 */
    margin-left: 10%; /* 메시지를 가운데 정렬 */
  }
  .overlay {
    height: 100%; /* 오버레이의 높이를 조정 */
    background-color: rgba(0, 0, 0, 0.5); /* 오버레이의 불투명도 조정 */
  }
  .home-text {
    padding-left: 20px; /* 작은 화면에서 패딩 감소 */
  }

  .home-text-header {
    font-size: 20px; /* 작은 화면에서 폰트 크기 감소 */
  }

  .home-text h1 {
    font-size: 28px; /* 작은 화면에서 폰트 크기 감소 */
  }

  .home-text p {
    font-size: 16px; /* 작은 화면에서 폰트 크기 감소 */
  }
}
