/* Home.css */
.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
}


.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
  padding-left: 200px; /* 왼쪽에서 떨어지게 설정 */
}

.home-text h1 {
  font-weight: 900;
}
.home-text-header {
  font-size: 25px;
}
.text-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
